@import '../themes/orion.css';
@import '../themes/ayu.css';
@import '../themes/mira.css';
@import '../themes/siena.css';
@import '../themes/monaco.css';

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: oklch(var(--color-muted)) transparent;
  }

  * ::-webkit-scrollbar {
  width: 8px;
  background-color: transparent; 
}
}

@layer components {
  .border-style-sharp   { --radius: 0px; }
  .border-style-rounded { --radius: 0.5rem; }
}