@import '../themes/orion.css';
@import '../themes/ayu.css';
@import '../themes/mira.css';
@import '../themes/siena.css';
@import '../themes/dracula.css';

@layer components {

  /* Override all radius variables to 0px when sharp mode is enabled */
  .border-style-sharp {
    --radius: 0px;
    --radius-sm: 0px;
    --radius-md: 0px;
    --radius-lg: 0px;
    --radius-xl: 0px;
  }

  .border-style-rounded {
    --radius: 0.55rem;
    /* Variables automatically recalculate based on :root definitions in reset.css */
  }
}