@layer base {
  [data-theme-pack="orion"] {
    --color-background: 100% 0 0;
    --color-foreground: 50% 0.004 285.82;
    --color-card: 100% 0 0;
    --color-card-foreground: 50% 0.004 285.82;
    --color-popover: 100% 0 0;
    --color-popover-foreground: 50% 0.004 285.82;
    --color-primary: 65% 0.5 270;
    --color-primary-foreground: 98% 0 0;
    --color-secondary: 95.9% 0.004 285.82;
    --color-secondary-foreground: 50% 0.004 285.82;
    --color-muted: 95.9% 0.004 285.82;
    --color-muted-foreground: 60% 0.004 285.82;
    --color-accent: 0.53 0.267 279;
    --color-accent-foreground: 20% 0.01 270;
    --color-destructive: 62.8% 0.257 29.23;
    --color-destructive-foreground: 98% 0 0;
    --color-border: 0.923 0.018 286;
    --color-input: 100% 0 0;
    --color-ring: 65% 0.5 270;
    --backdrop: 0% 0 0;
    --backdrop-light: 100% 0 0;
    --backdrop-surface: 100% 0 0;
    --color-panel: 0.985 0.002 247.839;
    --logo-bg-fill: 100% 0 0;
    --logo-stroke-stop-color: 65% 0.5 270;
    --logo-fg-stop-color: 65% 0.5 270;
    --color-highlight: 65% 0.5 270;

    --syntax-tag: 0.5 0.2 270;           
    --syntax-func: 0.5 0.15 200;         
    --syntax-string: 0.45 0.18 80;       
    --syntax-regexp: 0.55 0.2 40;         
    --syntax-markup: 0.5 0.2 270;         
    --syntax-keyword: 0.45 0.25 320;     
    --syntax-special: 0.5 0.15 200;      
    --syntax-comment: 0.65 0.05 280;      
    --syntax-constant: 0.4 0.2 40;       
    --syntax-operator: 0.5 0.2 270;       
    
    --syntax-paren-0: 0.5 0.2 270;
    --syntax-paren-1: 0.5 0.15 200;
    --syntax-paren-2: 0.45 0.18 80;
    --syntax-paren-3: 0.5 0.2 270;
    --syntax-paren-4: 0.5 0.15 200;
    --syntax-paren-5: 0.45 0.18 80;
  }

  [data-theme-pack="orion"].dark {
    --color-background: 0.269 0.029 253;
    --color-foreground: 92% 0 0;
    --color-card: 0.269 0.029 253;
    --color-card-foreground: 92% 0 0;
    --color-popover: 0.21 0.034 264.665;
    --color-popover-foreground: 92% 0 0;
    --color-primary: 0.673 0.182 276.935;
    --color-primary-foreground: 12% 0 0;
    --color-secondary: 0.298 0.033 256.848;
    --color-secondary-foreground: 0.872 0.01 258.338;
    --color-muted: 0.298 0.033 256.848;
    --color-muted-foreground: 65.1% 0.004 285.82;
    --color-accent: 0.594 0.183 279;
    --color-accent-foreground: 92% 0 0;
    --color-destructive: 82.8% 0.257 29.23;
    --color-destructive-foreground: 0.21 0.034 264.665;
    --color-border: 0.343 0.029 253;
    --color-input: 0.269 0.029 253;
    --color-ring: 0.785 0.115 274.713;
    --backdrop: 0% 0 0;
    --backdrop-light: 25% 0.01 250;
    --backdrop-surface: 0.269 0.029 253;
    --color-panel: 0.21 0.034 264.665;
    --logo-bg-fill: 0.269 0.029 253;
    --logo-stroke-stop-color: 92% 0 0;
    --logo-fg-stop-color: 92% 0 0;
    --color-highlight: 0.563 0.029 253;

    --syntax-tag: 0.8 0.15 270;           
    --syntax-func: 0.7 0.15 200;          
    --syntax-string: 0.75 0.2 80;         
    --syntax-regexp: 0.75 0.2 40;         
    --syntax-markup: 0.8 0.15 270;        
    --syntax-keyword: 0.8 0.2 320;        
    --syntax-special: 0.7 0.15 200;       
    --syntax-comment: 0.55 0.05 280;      
    --syntax-constant: 0.75 0.2 40;       
    --syntax-operator: 0.8 0.15 270;      

    --syntax-paren-0: 0.8 0.15 270;
    --syntax-paren-1: 0.7 0.15 200;
    --syntax-paren-2: 0.75 0.2 80;
    --syntax-paren-3: 0.8 0.15 270;
    --syntax-paren-4: 0.7 0.15 200;
    --syntax-paren-5: 0.75 0.2 80;
  }
  
  [data-theme-pack='orion']::selection {
    background-color: oklch(var(--color-highlight) / 0.15);
  }
  [data-theme-pack='orion']::-moz-selection {
    background-color: oklch(var(--color-highlight) / 0.15);
  }
  [data-theme-pack='orion'].dark::selection {
    background-color: oklch(var(--color-highlight) / 0.3);
  }
  [data-theme-pack='orion'].dark::-moz-selection {
    background-color: oklch(var(--color-highlight) / 0.3);
  }
}